.games{
  ul{
    li{
      width: 60%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      border: 1px solid rgba(128, 128, 128, 0.11);
      
      a{
        width: 100%;
        padding: 1rem 0;
        color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: .5rem;

        &:hover{
          background-color: rgba(192, 192, 192, 0.295);
        }
      }
      .game-images{
        width: 4rem;
        height: 4rem;
    
      }
      .games_btn-like{
        width: 7rem;
        height: 2rem;
      }
    }
  }

}