.search-container{
  padding: 10px 30px;
  border-radius: 2rem;
  box-shadow: 0px 0px 19px 5px rgba(37, 37, 37, 0.171);
  background-color: rgba(37, 37, 37, 0.171);
  .search label{
    display: flex;
    align-items: center;
    .search-form{
      padding-bottom: 5px;
      border: none;
      border-bottom: 2px solid white;
      outline: none;
      background-color: rgba(0, 0, 0, 0);
      color: white;
      &::placeholder{
        color: white;
      }
      
    }
    .search-btn{

      border: none;
      outline: none;
      background-color: rgba(0, 0, 0, 0);
      .material-icons-outlined{
        color: white;
        font-family: 'Material Icons';
        font-size: 22px;
        &:hover{
          color: silver;
        }
      }
    }
  }
}

