.remove-btn{
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  .material-icons-outlined.remove{
    color: white;
    font-family: 'Material Icons';
    font-size: 22px;
    &:hover{
      color: red;
    }
  }
}
