.loader {
  width: 56px;
  height: 56px;
  border: 8px solid rgba(0, 82, 236, 0.25);
  border-top-color: #0052ec;
  border-radius: 50%;
  position: relative;
  animation: loader-rotate 1s linear infinite;
  top: 50%;
  margin: -28px auto 0 auto;
}
@keyframes loader-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}